

/* Doodle Stage */
#stage {
  height: 300px;
  width: 600px;
}

 @keyframes floatBalloon {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(-10px);
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  #blue, #pink, #outline, #string{
    animation: floatBalloon 5s ease-in-out infinite;
  }